
<h1>중복되는 이메일이 있어요 => <%= @user.email %></h1>
<p>이 아이디와 통합하려면 기존 계정의 패스워드를 입력하세요</p>

<%= form_tag(merge_callback_users_path, method: "post") do %>
	<%= password_field_tag(:password) %>

	<%= hidden_field_tag(:provider, @provider) %>
	<%= hidden_field_tag(:uid, @uid) %>
	<%= hidden_field_tag(:email, @email) %>
	
 	<%= submit_tag("Submit", class: "btn btn-primary") %>

<% end %>