<h1>새 이메일을 입력하세요 - Twitter</h1>
<div class="form-container">
	<%= form_for @user, url: sign_up_from_twitter_callback_users_path, method: "post" do |f| %>


	<div class="form-group">
		<%= f.label :email %>
		<%= f.email_field :email, autofocus: true, class: "form-control"  %>
	</div>

	<%= f.hidden_field :provider, value: @provider %>
	<%= f.hidden_field :uid, value: @uid %>
	<%= f.hidden_field :nickname, value: @nickname %>

	<%= f.submit :class => 'btn btn-success'%>

	<% end %>
</div>
