<h1>List 차트 들어가는 </h1>

<%= link_to 'New History', new_history_path %> 

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
 
  <% @histories.each do |history| %>
    <tr>
      <td><%= history.title %></td>
      <td><%= history.description %></td>
			<td><%= link_to 'Show', history_path(history) %></td>
			<td><%= link_to 'Edit', edit_history_path(history) %></td>
    </tr>
  <% end %>
</table>