<h1>ToDo 차트 들어가는 </h1>

<table>
  <thead>
    <th>아이디</th>
    <th>타이틀</th>
  </thead>
  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.id %></td>
        <td><%= todo.title %></td>
        <td><%= link_to 'Show', todo_path(todo) %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>

<%= link_to 'New Todo', [:new, :todo] %>

<h1>List 차트 들어가는 </h1>

<%= link_to 'New History', new_history_path %> 

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
 
  <% @histories.each do |history| %>
    <tr>
      <td><%= history.title %></td>
      <td><%= history.description %></td>
			<td><%= link_to 'Show', history_path(history) %></td>
			<td><%= link_to 'Edit', edit_history_path(history) %></td>
    </tr>
  <% end %>
</table>