<p>
	Title:
	<%= @history.title %>
</p>

<p>
	Description:
	<%= @history.description %>
</p>

<p>
  User:
  <%= @history.user.email %>
</p>

<%= link_to 'Back', root_path %>

<h2> Tagged Todos </h2>
<% @history.todos.each do |todo| %>
  <%= link_to todo.title, todo %><br />
<% end %>