<div class="form-container">
  <div class="row">

    <div class="col-md-6">
      <h3>
       <%= @history.title %>
      </h3>

    <p class="text-align-right">
      <strong>Creator</strong><br />
      <%= @history.user.email %>
    </p>

    <p class="text-align-right">
      <strong>Assignee</strong><br />
      <% @history.assignees.each do |assignee| %>
      <%= assignee.email %><br />
      <% end %>
    </p>


    <p class="word-break">
      <%= raw attach_reference_link(@history.description) %>
    </p>

   <div>
      <% if @history.referenced_histories.count > 0 %>
      <strong>Referenced from</strong><br />
        <% @history.referenced_histories.each do |history| %>
          <%= link_to "##{history.id}: #{history.title}", history %><br />
        <% end %>
      <% end %>
   </div>
 </div>
 <div class="col-md-6">
  <table class="table">
    <thead>
      <th>댓글</th>
      <th>이메일</th>
    </thead>
    <tbody>
      <% @history.comments.each do |comment| %>
      <tr>
        <td><%= comment.contents %></td>
        <td><%= comment.user.email %></td>
        <td><%= link_to 'Delete', [@history, comment], method: :delete, :class => "btn btn-default" %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= render 'comments/form' %>

</div>
<div class="col-md-12">
  <h4>Attached Images</h4>
  <% @history.images.each do |image| %>
  <%= link_to(image_tag(image.image.thumb.url), image.image.url) %>
  <% end if @history.images != nil %>
</div>
</div>

</div>
