<div class="form-container">
  <div class="row">
  	<div class="col-md-12">
	  	<p class="text-align-right">
	      <strong>Creator</strong><br />
			  <%= @todo.user.email %>
			</p>

			<p>
			  <strong>Title</strong><br />
			  <%= @todo.title %>
			</p>

			<p>
			  <strong>Duedate</strong><br />
			  <%= @todo.duedate %>
			</p>

			<div>
				<strong>Referenced from</strong><br />
	    	<% @todo.histories.each do |history| %>
	    		<%= history.decorate.reference_link %><br />
	    	<% end %>
	   	</div>

	   	<div class="form-buttons">
				<%= link_to 'Back', project_path(@project), class: "btn btn-default" %>
				<%= link_to 'Edit', edit_project_todo_path(@project, @todo), class: "btn btn-default" %>
			</div>
		</div>
  </div>
</div>




